use async_trait::async_trait;
use uuid::Uuid;

use crate::domain::{{ snake }}::{errors::{{ pascal }}Error, model::{{ pascal }}};

#[derive(Debug, Clone)]
pub struct Get{{ pascal }}Params {
    pub id: Uuid,
}

#[async_trait]
pub trait Get{{ pascal }}UseCaseTrait: Send + Sync {
    async fn execute(&self, params: Get{{ pascal }}Params) -> Result<{{ pascal }}, {{ pascal }}Error>;
}
