use std::sync::Arc;

use async_trait::async_trait;
use uuid::Uuid;

use business::domain::{{ snake }}::{
    errors::{{ pascal }}Error,
    model::{{ pascal }},
    repository::{{ pascal }}RepositoryTrait,
};
use business::domain::logger::LoggerTrait;

pub struct InMemory{{ pascal }}Repository {
    logger: Arc<dyn LoggerTrait>,
}

impl InMemory{{ pascal }}Repository {
    pub fn new(logger: Arc<dyn LoggerTrait>) -> Self {
        Self { logger }
    }
}

#[async_trait]
impl {{ pascal }}RepositoryTrait for InMemory{{ pascal }}Repository {
    async fn find_by_id(&self, id: Uuid) -> Result<Option<{{ pascal }}>, {{ pascal }}Error> {
        self.logger.debug(&format!("find_by_id: {id}"));
        Ok(None)
    }

    async fn save(&self, entity: &{{ pascal }}) -> Result<(), {{ pascal }}Error> {
        self.logger.debug(&format!("save: {}", entity.id));
        Ok(())
    }
}
